{% extends "layout.html" %}
{% block content %}
<div class="page-header">
  <h1>Mongo Snippets</h1>
</div>

<div class="span2">
  <ul class="nav nav-list well">
    <li class="nav-header">Connections</li>
    <li class="nav-header">Queries</li>
    <li class="nav-header">Updates</li>
    <li class="nav-header">Commands</li>
  </ul>
</div>
<div class="span9">
  <h3>Map Reduce</h3>
  <p>
  This snippet does the following stuff.
  </p>
  <ul id="languageTab" class="nav nav-tabs">
    <li class="active"><a href="#shell" data-toggle="tab">Shell</a></li>
    <li><a href="#ruby" data-toggle="tab">Ruby</a></li>
    <li><a href="#python" data-toggle="tab">Python</a></li>
    <li><a href="#node" data-toggle="tab">Node</a></li>
  </ul>

  <div id="languageTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="shell">
    </div>
    <div class="tab-pane fade" id="ruby">
    </div>
  </div>
</div>
{% endblock %}
